/.vscode
/datasets
/logs
/output

**/__pycache__/
**/*.pyc
**/.DS_Store

pretrained_checkpoint
imgs/

pretrained_checkpoint
eval_infer_everything.sh
pre-log.txt
recall_eval.py
save_seg_every.sh

INSTALL.md
requirements.txt
demo
matches.json

detectron2
del_param.py
modified_model.pth
gradio_cached_examples/12/log.csv
frozenseg/modeling/pixel_decoder/ops

gradio*