/.vscode
/output

**/__pycache__/
**/*.pyc
**/.DS_Store

pretrained_checkpoint
matches.json

detectron2/
del_param.py
*.pth
gradio_cached_examples/12/log.csv
frozenseg/modeling/pixel_decoder/ops

gradio*
*.sh
demo/examples/
app.py
